<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->notPath('vendor')
    ->name('*.php')
    ->ignoreVCS(true)
    ;

$rules = require __DIR__ . '/.php_cs.rules.php';

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setRiskyAllowed(true)
    ->setFinder($finder)
    ;
